extends ../layout/index
block contenido
    main.container.mt-5
        .row
            col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotros" class="img-fluid")
            col-md-7
                h1 #{pagina}
                blockquote  Curabitur imperdiet erat ac venenatis elementum. 
                | porta tincidunt eros. Vivamus in odio ipsum. Quisque
                p Curabitur imperdiet erat ac venenatis elementum. 
                | porta tincidunt eros. Vivamus in odio ipsum. Quisque
                p Curabitur imperdiet erat ac venenatis elementum. 
                | porta tincidunt eros. Vivamus in odio ipsum. Quisque
                p Curabitur imperdiet erat ac venenatis elementum. 
                | porta tincidunt eros. Vivamus in odio ipsum. Quisque
                p Curabitur imperdiet erat ac venenatis elementum. 
                | porta tincidunt eros. Vivamus in odio ipsum. Quisque
                p Curabitur imperdiet erat ac venenatis elementum. 
                | porta tincidunt eros. Vivamus in odio ipsum. Quisque
                
          
    .listado-iconos
        .cotainer.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fuid mb-4")
                    h2.mb-4 Seguridad
                    p In ut arcu non nunc maximus dictum in vel 
                    |justo. Nam vulputate vitae quam eget interdum. 
                    

                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fuid mb-4")
                    h2.mb-4 Mejores destinos
                    p In ut arcu non nunc maximus dictum in vel 
                    |justo. Nam vulputate vitae quam eget interdum. 

                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fuid mb-4")
                    h2.mb-4 Precios
                    p In ut arcu non nunc maximus dictum in vel 
                    |justo. Nam vulputate vitae quam eget interdum. 


